$green:#00984b;
@mixin component-design{
  width: 250px;
  height: 500px;
  margin-top: 25px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin container-design{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  margin-top: 10px;
}
@mixin img-design{
  width: 230px;
  height: 230px;
  object-fit: cover;
  padding: 0 10px;
  border: 1px solid rgb(246,246,248);
  cursor: pointer;
}
@mixin name{
  cursor: pointer;
  text-decoration: underline;
}
@mixin price{
  color: $green;
}
@mixin cart{
  width: 100px;
  height: 40px;
  background-color: #add;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 13px;
}
@mixin favorite{
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  width: 25px;
  height: 25px;
}
@mixin cart-btn{
  width: 90px;
  height: 40px;
  background-color: $green;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  text-transform: uppercase;
  cursor: pointer;
}
@mixin main{
  display: flex;
  //width: 200px;
  margin: 0 auto;
  flex-direction: column;
}
@mixin modalWindow{
  position: fixed;
  margin: 100px auto;
  padding: 60px;
  background-color: rgba(220,220,220,0.95);
  text-transform: uppercase;
}
@mixin modalButton{
  width: 80px;
  height: 40px;
  background-color: $green;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
}
.component{
  @include component-design;
}
.component:hover{
  box-shadow: 10px 10px 10px 10px lightgray;
}
.container{
  @include container-design;
}
.img{
  @include img-design;
}
.productname{
  @include name;
}
.productname:hover{
  text-decoration: none;
}
.productprice{
  @include price;
}
.addtocart{
  @include cart;
}
.addtocart:hover{
  box-shadow: 2px 2px lightgray;
  background-color: #4f9e9e;
}
.addtofavorite{
  @include favorite;
}
.buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}
.cart{
  @include cart-btn;
}
.main{
  @include main;
}
.modal{
  @include modalWindow;
}
.modalButton{
  @include modalButton;
}
.header{
  display: flex;
  justify-content: space-evenly;
  width: 360px;
  height: 50px;
  align-items: center;
  margin: 20px auto;
}
.link{
  text-decoration: none;
  text-transform: uppercase;
  width: 100px;
  height: 40px;
  background-color: $green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.item{
  @include container-design;
}
.delete{
  padding: 0px 40px;
  color: white;
  background-color: $green;
  border-radius: 10px;
}
.modal-line{
  display: flex;
  justify-content: space-evenly;
}
.cartcontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sum{
  background-color: $green;
  color: white;
  padding: 5px 30px;
  border-radius: 10px;
}